body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1b1b;
  background-size: cover;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 100px;
  margin-bottom: 20px;
  color: white;
}

p {
  font-size: 25px;
  line-height: 1.4;
  color: white;
}
