<div class="container-fluid">
  <div class="row">
    <div class="col-md-11 vh-100">
      <div
        class="d-flex flex-column p-3 bg-light shadow-sm rounded h-100"
        id="sidebar"
      >
        <h4 class="mb-4">Dashboard</h4>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a routerLink="edit-home" routerLinkActive="active" class="nav-link"
              >Edit Home</a
            >
          </li>
          <li>
            <a
              routerLink="edit-about"
              routerLinkActive="active"
              class="nav-link"
              >Edit About</a
            >
          </li>
          <li>
            <a
              routerLink="edit-contact-me"
              routerLinkActive="active"
              class="nav-link"
              >Edit Contact Me</a
            >
          </li>
          <li>
            <a
              routerLink="add-service"
              routerLinkActive="active"
              class="nav-link"
              >Add Service</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
